<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rotation.name %>
</p>

<p>
  <b>Users in this rotation:</b>
  <ol>
  <% @rotation.users.each do |user| %>
    <li><%= link_to user.name, user %> (<%= user.email %>)</li>
  <% end %>
  </ol>
</p>


<%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<%= link_to 'Back', rotations_path %>
