= form_for [@rotation_membership, @alerting_step] do |f|
  - if @alerting_step.errors.any?
    #error_explanation
      %h2>
        = pluralize(@alerting_step.errors.count, "error")
        prohibited this alerting_step from being saved:

      %ul
        - @alerting_step.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :delay_minutes
    = f.number_field :delay_minutes

  .field
    = f.label :contact_detail_id
    = f.select(:contact_detail_id, options_for_select(@contact_detail_options))

  .actions
    = f.hidden_field :rotation_membership_id
    = f.submit
