<h1>Listing alerting steps</h1>

<table>
  <tr>
    <th>Delay</th>
    <th>Contact detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @alerting_steps.each do |alerting_step| %>
  <tr>
    <td><%= alerting_step.delay_minutes %></td>
    <td><%= alerting_step.contact_detail.name %></td>
    <td><%= link_to "Show", [@rotation_membership, alerting_step] %></td>
    <td><%= link_to "Edit", edit_rotation_membership_alerting_step_path(@rotation_membership, alerting_step) %></td>
    <td><%= link_to "Destroy", [@rotation_membership, alerting_step], :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to "New alerting step", new_rotation_membership_alerting_step_path(@rotation_membership) %>
