%h2 Enter your credentials
%strong Only the acquired ClientLogin token, not your password, will be saved on the server.

= form_tag(google_client_login_credentials_index_path) do
  %table
    %tr
      %td= label_tag(:email, "Email:")
      %td= text_field_tag(:email)
    %tr
      %td= label_tag(:password, "Password:")
      %td= password_field_tag(:password)
    %tr
      %td= submit_tag
