<h1>Listing issues</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Posted at</th>
    <th>Status</th>
    <th>Assignee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.title %></td>
    <td><%= issue.description %></td>
    <td><%= issue.posted_at %></td>
    <td><%= issue.status %></td>
    <td><%= issue.assignee.name unless issue.assignee.nil? %></td>
    <td><%= link_to 'Show', issue %></td>
    <td>
      <% if permitted_to? :edit, issue %>
        <%= link_to 'Edit', edit_issue_path(issue) %>
      <% end %>
    </td>
    <td>
      <% if permitted_to? :destroy, issue %>
        <%= link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :new, :issues %>
  <% if @escalation_policy %>
    <%= link_to 'New Issue', new_escalation_policy_issue_path(@escalation_policy) %>
  <% else %>
    <%= link_to 'New Issue', new_issue_path %>
  <% end %>
<% end %>
